
/* Css for the main pages */
#headerDiv{
    width: 100%;
    border: 1px solid black;
    
}

#logo{
 
    display: inline-block;
    width: 25%;
    font-style:oblique;
    text-align: center;

}

#searchpart{
    border: 1px solid black;
    display: inline-block;
    width: 50%;
}

#currentUserInfo{
    border: 1px solid black;
    display: inline-block;
    text-align: end;
    width: 24%;
    
}

#registerAndProfile{
    border: 1px solid black;
    width: 200px;
    margin-left: 70%
}

#bodyPage{
    background-color: beige;
    height: 800px;
}
footer{
    background-color:dimgray;
    height: 100px;
}

