
body{
    background-color:#525461;
}
/* Css for the main pages */
#headerDiv{
    width: 100%;
    border: 1px solid black;
    
}

#logo{
    display: inline-block;

    width: 25%;
    font-style:oblique;
    text-align: center;
 
}


#searchpart{
  
    display: inline-block;
    width: 50%;
   
  
}

#currentUserInfo{

    display: inline-block;
    text-align: end;
    width: 24%;
    
}

#registerAndProfile{

    width: 200px;
    margin-left: 50%;
}

#bodyPage{
    background-color:whitesmoke;
    margin-left: 10%;
    width: 80%;
    min-height: 800px;
    
  
  
    
}
footer{
    background-color:dimgray;

 
}
#footerContainer{
    border: 1px solid white;
   
}

/* div page start from */

#Registerdiv{

    display: inline-block;
    border: 1px solid black;
    width: 500px;
    padding: 20px;
    background-color: white;
    margin:20px;

    

}

#alreadyRegDiv{
    
    display: inline-block;
    border: 1px solid black;
    width: 350px;
    
    padding: 20px;
    background-color: white;
   text-align: center;
   margin-top: -25px;
}



#profileBody{
    background-color: beige;
    margin-left: 10%;
    width: 80%;
}


.center {
    margin: auto;
    width: 40%;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
}

#homeCards{
    margin: 0px 40px 0px  40px;
}

#addItem{
    border: 1px solid black;
    width: 1000px;
    padding: 20px;
    background-color: white;
    margin: 0px 40px 0px  250px;
}

